* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 20vw;
}

.logo {
  width: 100px;
  padding: 20px;
}

header {
  background-color: #5995DA;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.house-logo {
  order: -1;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.menu-item {
  list-style-type: none;
  width: 48vw;
  height: 44vh;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-title-container {
  display: flex;
  justify-content: center;
}

.page-title {
  background-color: lightblue;
  padding: 20px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

iframe {
  height: 50vh;
}

footer {                  /* keeps copyright on bottom-left screen */
  position: absolute;
  left: 0;
  bottom: 2px;
}

/* index link styles */

.calendar {
  background-color: lightblue;
}

.rules {
  background-color: lightgreen;
}

.complaints {
  background-color: pink;
}

.meetings {
  background-color: lightyellow;
}

/* calendar styles */

.group-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.group {
  background-color: lightblue;
  padding: 20px;
  border: 1px solid black;
}

.calendar-actual {
  background-color: #5995DA;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

.return-home {
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.return-home-img {
  background-color: grey;
  width: 20vw;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* rules styles */

.faq-cap {
  text-align: center;
}

.faq-question-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
}

.qs {
  background-color: lightgray;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
}

.qa-container {
  border: 1px solid purple;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.qs-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  margin: 10px;
  height: 20vh;
}

.as-box {
  border: 1px solid blue;
  margin: 10px;
  padding: 20px;
  height: 60vh;
}

/* misc styles */

/* desktop styles */
@media only screen and (min-width: 961px) {
  .menu-item {
    width: 400px;
    height: 44vh;
  }
}
