* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.2em;
}

body {
  background-color: #202124; /* google's color */
  background-color: #101010;
  color: #E8EAED;
}

a {
  color: white;
}

img {
  width: 20vw;
}

header {
  background-color: gray;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

iframe {
  height: 50vh;
  width: 90vw;
}

p {
  padding: 0 0 10px 0;
}

li {
  padding: 0 0 3px 0;
}

.logo {
  width: 100px;
  padding: 20px;
}

.page-title-container {
  display: flex;
  justify-content: center;
}

.page-title {
  background-color: gray;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.house-logo {
  order: -1;
}

.menu-container {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-top: 10px;
}

.menu-item {
  background-color: gray;
  list-style-type: none;
  width: 48vw;
  height: 36vh;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  asdf
}

.return-home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.return-home-img {
  border: 1px solid white;
  background-color: gray;
  width: 20vw;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

/* index link styles */

/*
.calendar {
  background-color: lightblue;
}

.rules {
  background-color: lightgreen;
}

.complaints {
  background-color: pink;
}

.meetings {
  background-color: lightyellow;
}
*/

/* calendar styles */

.group-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.group {
  background-color: lightblue;
  padding: 20px;
  border: 1px solid black;
}

.calendar-actual {
  background-color: gray;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh;
}

/* rules styles */

.faq-cap {
  text-align: center;
}

.faq-question-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  list-style-type: none;
}

.qs {
  background-color: gray;
  border: 1px solid white;
  padding: 20px;
  margin: 10px;
  border-radius: 100px;
  text-align: center;
}

.qa-container {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.qs-box {
  borderz: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  height: 20vh;
  border-radius: 5px;
}

.as-box {
  borderz: 1px solid blue;
  margin: 10px;
  padding: 20px;
  height: 49vh;
  border-radius: 5px;
}

.reminders {
  height: 70vh;
}

/* misc styles */

/* desktop styles */
@media only screen and (min-width: 961px) {
  .menu-item {
    width: 400px;
    height: 44vh;
  }
}
