/* GENERAL STYLES */
html {
    font-size: 1rem;                  /* standard is 16 px */
    background-color: #0000ff;
}

body {
    width: 80vw;
    margin: 0 auto; /* what does this do? */
    background-color: #add8e6;
    padding: 0px 20px 20px 20px; /* space between body contents and body walls */
    border: 2px solid #0000ff;
}

h1 {
    text-align: center;
    padding: 20px 20px 20px 20px;
    border: 2px solid #000000;
}

h2 {
    border: 2px solid #000000;
    padding: 20px 20px 20px 20px;
}

h3 {
    padding: 0px 0px 0px 20px;
}

p {
    line-height: 1.5;
    padding: 0px 20px 0px 20px;
}

section {
    border: 2px solid #000000;
}

img {
    display: block;
    margin: 0 auto; /* what does this do? */
    width: 300px;
}

aside {
    border: 2px solid #000000;
}

footer {
    border: 2px solid #000000;
}

nav {
    border: 2px solid #000000;
}

li {
    padding: 5px;
}

/* LIST STYLES */

/* UTILITY STYLES */
p.new-announcement {
    color: #000000;
    border: 2px solid #ff0000;
    padding: 15px;
    margin: 20px;
}

p.old-announcement {
    color: #808080;
    border: 2px solid #808080;
    padding: 15px;
    margin: 20px;
}

img.calendar {
    object-fit: cover;
}

/* LINK STYLES */
a:link {
    color: #0000FF;
    background: #BFFF00;
}

a:visited {
    color: #0000FF;
    background: #BFFF00;
}

a:hover {
    text-decoration: none;
    color: #BFFF00;
    background: #0000FF;
}

a:active {
    text-decoration: none;
    color: #FF0000;
    background: #663399;
}

/* TABLE STYLES */
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 100%;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
  }